<a href="https://colab.research.google.com/github/profshai/classification/blob/main/k_nearest_neighbors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# K-Nearest Neighbors

In this exercise, we want to know which users will purchase the car and which users are not likely to purchase.

### Import Libraries

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Import dataset

In [13]:
data = pd.read_csv('Social_Network_Ads.csv')
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [14]:
X = data.iloc[:, :-1].values
y = data.iloc[:,-1].values

### Split data into training and test data

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Feature scaling

In [16]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

### Train KNN model

In [17]:
from sklearn.neighbors import KNeighborsClassifier
>>> neigh = KNeighborsClassifier(n_neighbors=5, metric = 'minkowski', p = 2)
>>> neigh.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

### Predict a new result

In [18]:
print(neigh.predict(sc.transform([[30, 87000]])))

[0]

### Predict the test set result

In [19]:
y_pred = neigh.predict(X_test)
# print(np.concatenate((y_pred.reshape(len(y_pred), 1), y_test.reshape(len(y_test), 1)), 1))

### Make the confusion matrix

In [20]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[55  3]
 [ 1 21]]

### Calculate the accuracy

In [21]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.95

The accuracy of the model is 95 percent.